@import '../prelude';

.WidthBoxes {
    margin-top: 1.05rem;
    margin-bottom: 1.05rem;
}

.WidthBox {
    transition: all 0.3s ease;
    background-color: $Text;
    border-radius: 16px;

    &.Current {
        margin: 0 0.5rem;
    }
}