@import '../prelude';

.WorkspaceIndicator {
	min-width: 4px;
	min-height: 4px;
	margin: 4px 0.5rem 7px 0;
	border-radius: 16px;
	background-color: transparent;

	border: 1px solid $TextSub;

	&.Windows {
		background-color: $TextSub;
	}

	&.Last {
		margin-right: 0;
	}
}

.SliderSegment {
	transition: all 0.1s linear;
	background-color: $Text;
	border-radius: 16px;
	min-height: 6px;
	margin: 8px 0 3px 0;

	&.Current {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
}