@import '../prelude';

@import 'notifications';

.BarMenuBox {
    background-color: $BgSolid;
    padding: 1rem;
    border-radius: $LargeRadius;
    margin-top: 0.75rem;
    min-width: 55rem;
    min-height: 45rem;
    border: 2px solid rgba(40, 40, 40, 25);
}