@import '../prelude';

$NotificationHeader: #969696;

.NotificationsBox {
    min-width: 33rem;
}

.Notification {
    @include Hoverable();

    padding: 0.8rem 0.9rem;
    background-color: $Surface1;
    border-radius: 0.8rem;
}

.NotificationAppIcon {
    margin-right: 0.4rem;
    color: $NotificationHeader;
}

.NotificationAppName {
    font-family: 'Lexend', 'Readex Pro';
    font-size: 1rem;
    color: $NotificationHeader;
    font-weight: 800;
    margin-right: 0.5rem;
}

.NotificationTimestamp {
    font-family: 'Lexend', 'Readex Pro';
    font-size: 0.75rem;
    color: $NotificationHeader;
    font-weight: 400;
    margin-top: 0.25rem;
}

.NotificationIcon {
    border: 1px solid rgba(40, 40, 40, 25);
    border-radius: 0.75rem;
    margin-right: 1rem;
}

.NotificationTitle {
    @extend .TextMain;

    font-size: 1.15rem;
    font-weight: 500;
}

.NotificationBody {
    @extend .TextMain;
}

.NotificationAction {
    @include Hoverable();
    @include Clickable();

    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.NotificationAction:first-child {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.NotificationAction:last-child {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-right: none;
}