$BgAlpha: #10141760;
$BgSolid: #252525;

$Hover: rgba(224, 227, 232, 0.1);
$HoverClick: rgba(255, 255, 255, 0.065);

$Text: rgb(224, 227, 232);
$TextSub: rgb(65, 71, 77);

$BorderRadius: 0.25rem;
$LargeRadius: 1rem;

$Surface1: #2F2F2F;
$Surface2: #3D3D3D;