@import 'colors';

.TextMain {
	font-family: 'Lexend', 'Readex Pro';
	font-size: medium;
	color: $Text;
}

.TextSub {
	font-family: 'Lexend', 'Readex Pro';
	font-size: smaller;
	color: $TextSub;
}

.TextLarge {
	font-size: 1.2rem;
}

@mixin Hoverable() {
	&.Hover {
		background-color: $Hover;
	}
}

@mixin Clickable() {
	transition: all 0.05s ease;

	&.Click {
		background-color: $HoverClick;
	}
}