@import 'colors';

.TextMain {
	font-family: 'Lexend', 'Readex Pro';
	font-size: medium;
	color: $Text;
}

.TextSub {
	font-family: 'Lexend', 'Readex Pro';
	font-size: smaller;
	color: darken($Text, 50%);
}

.TextLarge {
	font-size: 1.2rem;
}

@mixin Hoverable() {
	&.Hover {
		background-color: transparentize($Foreground, 0.9);
	}
}

@mixin Clickable() {
	transition: all 0.05s ease;

	&.Click {
		background-color: darken(transparentize($Foreground, 0.9), 5%);
	}
}

$BorderRadius: 0.5rem;
$LargeRadius: 1.5rem;